[submodule "dockeri.co"]
	path = dockeri.co
	url = https://github.com/retrohacker/dockeri.co
[submodule "nginx/wblankenship"]
	path = nginx/wblankenship
	url = https://github.com/retrohacker/retrohacker.github.io
